.table.articles{
    margin-top: 5%;
}

.new-form{
    margin-top:5%;
}

   .fields{
    width:100%;
   }
   .description-field{
       resize: none;
   }
   .control-button{
       margin-top: 3%;  
   }
   .show{
       margin-top:3%;
   }